{% extends 'base.html.twig' %}
{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <main role="main" class="container">

        <h1>Tasks list</h1>
        <br/>
        <div class="float-sm-right">
            <button onclick="window.location ='{{ path('app_new_task') }}'" class="btn btn-success pull-right" >
                <div>
                    <i class="fas fa-plus fa-fw" ></i>
                </div>
            </button>
        </div>
        <br/><br/>
        <table id="tasks_list" class="table table-hover">
            <tbody>
            {% for task in tasks %}
                {% if task[2] == 'danger' %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
                <td scope="row">
                    <span class="fa-li"><i class="far fa-square"></i></span>
                </td>
                <td>{% if task[3] == 'done' %}
                        <p class="done">{{ task[1] }}</p>
                    {% else %}
                        <p class="">{{ task[1] }}</p>
                    {% endif %}</td>
                <td>12 octobre 2019</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            <div><i class="fas fa-check fa-fw" ></i></div>
                        </button>
                        <a class=" btn btn-dark" href="{{ path('app_show_task', {'slug': task[0]}) }}">
                            <div><i class="fas fa-pencil-alt fa-fw" ></i></div>
                        </a>
                    </div>
                </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/set_task_status.js') }}"></script>
{% endblock %}